<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Stations Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="top-bar">
        <h1>Mapa de Estaciones de Bomberos y Rutas de Emergencia</h1>
        <form id="coordinate-form">
            <div class="form-row">
                <label for="comuna-select">Elegir Comuna:</label>
                <select id="comuna-select" name="comuna-select">
                    <option value="cerrillos">Cerrillos</option>
                    <option value="cerro_navia">Cerro Navia</option>
                    <option value="conchali">Conchalí</option>
                </select>
                <button type="button" id="load-streets-btn" onclick="loadStreets()">Cargar calles</button>
            </div>
        </form>
        <div id="dropdown-menu" class="dropdown-menu">
            <h2>Metadata</h2>
            <label><input type="checkbox" id="toggleFireStations" checked> Estaciones de Bomberos</label>
            <label><input type="checkbox" id="toggleHydrants" checked> Grifos</label>
            <label><input type="checkbox" id="toggleSpeedBumps" checked> Lomos de Toro</label>
            <label><input type="checkbox" id="toggleStreets" checked> Calles</label>
            <h2>Rutas</h2>
            <label><input type="checkbox" id="toggleRouteDijkstra" checked> Ruta con Dijkstra</label>
            <label><input type="checkbox" id="toggleRouteAStar" checked> Ruta con CPLEX</label>
            <label><input type="checkbox" id="toggleRouteCPLEX" checked> Ruta con Metadata</label>
            <label><input type="checkbox" id="toggleRouteMetaheuristic" checked> Ruta con Metaheurística</label>
        </div>
    </header>

    <main>
        <!-- Mapa -->
        <div id="map"></div>
    </main>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script>
        document.getElementById('layer-control-btn').addEventListener('click', () => {
            const dropdownMenu = document.getElementById('dropdown-menu');
            dropdownMenu.classList.toggle('hidden');
        });
    </script>
</body>
</html>
