<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Stations Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="top-bar">
        <h1>Fire Stations and Emergency Route Map</h1>
        <form id="coordinate-form">
            <div class="form-row">
                <label for="comuna-select">Select Comuna:</label>
                <select id="comuna-select" name="comuna-select">
                    <option value="cerrillos">Cerrillos</option>
                    <option value="cerro_navia">Cerro Navia</option>
                    <option value="conchali">Conchalí</option>
                </select>
                <button type="button" id="load-streets-btn" onclick="loadStreets()">Load Streets</button>
            </div>
        </form>
    </header>

    <main>
        <!-- Mapa -->
        <div id="map"></div>

        <!-- Control de capas (layer-control) -->
        <div class="layer-control">
            <label><input type="checkbox" id="toggleFireStations" checked> Estaciones de Bomberos</label>
            <label><input type="checkbox" id="toggleStreets" checked> Calles de la Comuna Seleccionada</label>
            <label><input type="checkbox" id="toggleRoute" checked> Ruta Óptima</label>
        </div>
    </main>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
</body>
</html>
